.date {
  width: 3.8rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-shadow:
    0 1px 1px rgb(0 0 0 / 90%),
    0 0 4px rgb(0 0 0 / 85%);
  &.clicked-animated .content {
    animation: appear 0.2s ease;
  }

  .time {
    font-weight: 400;
    letter-spacing: 0.2px;
  }

  img {
    filter: brightness(0) saturate(100%) invert(79%) sepia(28%) saturate(5094%)
      hue-rotate(176deg) brightness(102%) contrast(103%);
  }
}
img {
  width: 17px;
  height: 17px;
}
