.date {
  width: 3.8rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-shadow: var(--ui-text-shadow);
  &.clicked-animated .content {
    animation: appear 0.2s ease;
  }

  .time {
    font-weight: 400;
    letter-spacing: 0.2px;
  }

  img {
    filter: brightness(0) saturate(100%) invert(79%) sepia(28%) saturate(5094%)
      hue-rotate(176deg) brightness(102%) contrast(103%)
      var(--ui-icon-shadow);
  }
}
img {
  width: 17px;
  height: 17px;
}
